@import 'foundation';
@include foundation-flex-grid;
@include foundation-everything;

$background-color: #FDFDFD;
$font: 'Lato', sans-serif;;
$main-black: #151414;
$logo-color: red;

$test: red;

.test {
  background-color: $test;
}

html, body {
  background-color: $background-color;
  font-family: "Merriweather", serif;
  font-size: 16px;
  line-height: 1.5;
}

.right {
  float: right;
}

.left {
  float: left;
}

.logo {
  margin-top: 80px;
  margin-bottom: 80px;

  h1 {
    font: 700 90px/1 "Dancing Script", cursive;
    display: block;
    margin: auto;
    color: $main-black;
  }
}

.hero {
  background: url('http://www.95wowgold.com/images/exceptional-shine-wedding-invitations-5-wedding-invitation-1200-x-900.jpg') 50%;
  width: 1200px;
  height: 300px;
  margin-bottom: 400px;
}

.footer {
  margin-top: 30px;
  margin-bottom: 20px;
  border-top: 3px solid $main-black;
  padding-top: 10px;
  font-size: 9.5pt;
}

nav {
  width: 1200px;
  margin: 0 auto 30px auto;

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin:0;
    color: $main-black;
  }

  a {
    color: $main-black;
    font-family: "Montserrat", sans-serif;
  }

  a:hover {
    color: $main-black;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 3px solid $main-black;
    padding: 5px 10px 5px 10px;
  }
}