@import 'foundation';
@include foundation-flex-grid;
@include foundation-everything;

$background-color: #FDFDFD;
$font: 'Lato', sans-serif;;
$main-black: #151414;
$logo-color: red;

$test: red;

.test {
  background-color: $test;
}

html, body {
  background-color: $background-color;
  font-family: "Merriweather", serif;
  font-size: 16px;
  line-height: 1.5;
}

.right {
  float: right;
}

.left {
  float: left;
}

.logo {
  margin-top: 80px;
  margin-bottom: 80px;

  h1 {
    font: 700 90px/1 "Dancing Script", cursive;
    display: block;
    margin: auto;
    color: $main-black;
  }
}

.footer {
  font-family: "Montserrat", sans-serif;
  margin-top: 50px;
  margin-bottom: 20px;
  border-top: 3px solid $main-black;
  padding-top: 10px;
  font-size: 8pt;
}

nav {
  width: 1200px;
  margin: 0 auto 50px auto;

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin:0;
    color: $main-black;
  }

  a {
    color: $main-black;
    font-family: "Montserrat", sans-serif;
    border: 3px solid white;
    padding: 5px 10px 5px 10px;
  }

  a:hover {
    color: $main-black;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 3px solid $main-black;
    padding: 5px 10px 5px 10px;
    animation: shake .5s ease-in-out;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(10px);
  }

  60% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

.box-grid {
  width: 1200px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  .box {
    display: inline-flex;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    align-self: auto;
    padding: 20px;
    border-radius: 5px;
    background: #f4f4f4;

    h3 {
      display: block;
    }

    p {
      color: #454545;
      text-align: center;
    }
  }

  .box:first-child {
    margin-right: 20px;
  }

  .box:last-child {
    margin-left: 20px;
  }
}

#owl {
  margin-bottom: 50px;
}

#owl .item img{
  display: block;
  width: 1200px;
  height: 400px;
}