@import 'foundation';
@include foundation-flex-grid;
@include foundation-everything;

$background-color: #FDFDFD;
$font: 'Lato', sans-serif;;
$main-black: #151414;
$logo-color: red;

$test: red;

.test {
  background-color: $test;
}

html, body {
  background-color: $background-color;
  font-family: $font;
}

.right {
  float: right;
}

.left {
  float: left;
}

.tc {
  text-align: center;
}

.logo {
  margin-top: 50px;

  p {
    font-size: 50pt;
    text-align: center;
    margin-top: 35px;
  }
}

.topnav {
  font-weight: bold;
  margin-top: 50px;

  div a {
    color: $main-black;
  }

  div a:hover {
    padding: 5px 10px 5px 10px;
    border: 3px solid $main-black;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
}

.hero-image {
  background-color: lightgrey;
  height: 300px;
  margin-top: 50px;
}

.footer {
  margin-top: 30px;
  border-top: 3px solid $main-black;
  padding-top: 10px;
  font-size: 9.5pt;
}

.circle_logo {
  background-color: $logo-color;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.latest-items {
  margin-top: 30px;
}

.items {
  margin-top: 10px;

  .large-3 {
    padding: 0px;
  }
}

.test-item {
  background-color: red;
  width: 270px;
  height: 270px;
}