@import 'foundation';
@include foundation-flex-grid;
@include foundation-everything;

$background-color: #FDFDFD;
$font: 'Lato', sans-serif;;
$main-black: #3b3b58;
$main-orange: #ff4e5c;
$logo-color: red;

$font-logo: 700 90px/1 "Dancing Script", cursive;
$font-title: "Montserrat", sans-serif;
$font-normal: "Merriweather", serif;

$test: red;

.test {
  background-color: $test;
}

html, body {
  background-color: $background-color;
  font-family: "Merriweather", serif;
  font-size: 16px;
  line-height: 1.5;
}

h3,
a:hover,
a:visited,
a:active,
a {
  text-decoration: none;
  color: $main-black;
}

.right {
  float: right;
}

.left {
  float: left;
}

.logo {
  margin-top: 80px;
  margin-bottom: 80px;

  h1 {
    font: 700 90px/1 "Dancing Script", cursive;
    display: block;
    margin: auto;
    color: $main-black;
  }
}

.footer {
  margin-top: 50px;
  margin-bottom: 20px;
  border-top: 3px solid $main-black;
  padding-top: 10px;
  font-size: 9pt;
}

nav {
  width: 1200px;
  margin: 0 auto 50px auto;

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin:0;
    color: $main-black;
  }

  a {
    color: $main-black;
    font-family: "Montserrat", sans-serif;
    border: 3px solid white;
    padding: 5px 10px 5px 10px;
  }

  a:hover {
    color: $main-black;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 3px solid $main-black;
    padding: 5px 10px 5px 10px;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(10px);
  }

  60% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

#owl {
  margin-bottom: 50px;
}

#owl .item img{
  display: block;
  width: 1200px;
  height: 400px;
}

.box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  background: #f9f9f9;
}

.box i:hover {
  color: $main-orange;
}

.box:first-child {
  margin-right: 50px;
}

.box:last-child {
  margin-left: 50px;
}

.box__grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.box__title {
  font-family: "Montserrat", sans-serif;
}

.box__more {
  color: $main-orange;
}

.box__content {
  color: #454545;
  text-align: center;
  padding: 20px;
}

.box__content:hover {
  color: $main-black;
}

.box__content:hover .box__more {
  color: $main-orange;
  padding: 5px 10px 5px 10px;
  border: 3px solid $main-orange;
  border-radius: 3px;
}

.section {
  width: 800px;
  margin-bottom: 50px;
}


.section__title {
  font-size: 24px;
  color: $main-black;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto 15px auto;
  font-weight: bold;
}
.section__intro {
  display: block;
  text-align: center;
  margin: 0 5% 0;
}


.login-box {
  margin: 0 auto 0 auto;
  padding: 50px;
  background: #f5f5f5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: $font-normal;

  label {
    font-family: $font-title;
  }

  button {
    font-family: $font-title;
    padding: 10px 10px 10px 10px;
    border: 3px solid $main-black;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    margin-top: 20px;
  }

  button:hover {
    background: $main-black;
    color: white;
  }
}

.callout {
  border-radius: 4px;
  background: #fafafa;
}
